@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-height: 100%;
}

.App {
  text-align: center;
  justify-items: center;
  /* height: max-content; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel{
  width: 700px;
  height: 700px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin:0 auto;
  perspective: 1000px;
}

.panel > div {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  /* display: block; */
  transform-style: preserve-3d;
  /* transition: transform 0.5s linear; */
  cursor: pointer;
}

.front, .back {
  position: absolute; 
  /* display: flex;
  justify-content: center;
  align-items: center; */
  backface-visibility: hidden; 
  transition: transform 0.5s linear;
}

.front {
  /* position: absolute; */
  border: 2px solid black;
  /* width: 200px; */
  transform: rotateY(0deg);
  z-index: 10;
}

.front.isFlip {
  border: 2px solid black;
  /* background-color: #61dafb; */
  transform: rotateY(180deg);
}

.back {
  /* width: 200px;
  height: 200px; */
  position: absolute;
  border: 2px solid black;
  background-color: #61dafb;
  transform: rotateY(-180deg);
}

.back.isFlip{
  /* width: 200px;
  height: 200px; */
  border: 2px solid black;
  background-color: #61dafb;
  transform: rotateY(0deg);
}
